body {
	width: 970px;
	font-family: sans-serif;
}

img {
	display: inline-block;
}

#headerLeftPaddingDiv {
	height: 100%;
	width: 55%;
	display: inline-block;
	background-image: url("../screen4-images/logo.png");
	background-size: cover;
}
div .head {
	height: 68px;
	background: linear-gradient(#E8E8E8,#FFFFFF);
	margin: 0px;
}

#headerRightContent {
	text-align: right;
	vertical-align: middle;
	display: inline-block;
	height: 100%;
	width: 60%;
	font-size: 150%;
	font-weight: bold;
}
.head img {
	display: inline-block;
}

div.main {
	padding: 1px;
}
div.bodyBox {
	padding: 25px 25px;
	background: radial-gradient(#3D3D3B, #1E1E1E, black);;
	display: block;
}
#whiteBox {
	display: inline-block;
	width: 200px;
	background: white;
	margin-left: 50px;
}

#premisesPic {
	border-width: 5px;
	border-style: solid;
	border-color: white;
}

.leftNavigation {
	display: inline-block;
	background-color: #EEEEEE;
	width: 20%;
	padding: 10px;
	border-width: 1px;
	border-color: #D4D4D4;
	border-style: solid;
}
span.navHome {
	display: block;
}
ul.navigationLinks {
	display: block;
	padding-left: 0px;
	list-style-position: inside;
	margin-top: 2px;
}

ul.navigationLinks ul {
	list-style: circle;
}

ul.navigationLinks ul li {
	margin-bottom: 4px;
}

.infoBox {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	margin-left: 20px;
	border-width: 1px;
	border-color: #222222;
	border-radius: 1px;
}

a.emphasisedLink {
	font-weight: bold;
}

a {
	color: #980100;
}
li {
	font-weight: 500;
}

ul.rightContentParagraphs li {
	margin-bottom: 25px;
}

.footer {
	display: inline-block;
	border-radius: 15px;
	background-color: #DDDDDD;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 20px;
	width: 94%;
}

.leftNavigation li:before {
	content: ">> ";
	color: #980100;
}

.leftNavigation li {
	list-style: none;
}

.leftNavigation li a {
	display: inline-block;
	width: 80%;
	padding-top: 10px;
}

#topMenu {
	margin: 0px;
	height: 50px;
	width: 100%;
	display: inline-block;
	border-top-width: 1px;
	border-top-color: #999999;
	border-top-style: solid;
	background: black;
}

#topMenu ul {
	margin: 0px;
	width: 100%;
	padding: 0px;
	height: 25px;
	display: inline-block;
	background: linear-gradient(#F4F7F8,#D8DFE4,#F4F4F4);
}

#topMenu li {
	height: 25px;
	padding-left: 12px;
	padding-right: 13px;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	font-size: 110%;
	color: #666666;
	vertical-align: bottom;
	border-right-color: #CCCCCC;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-color: white;
	border-left-style: solid;
	border-left-width: 1px;
	background: linear-gradient(#F4F7F8,#D8DFE4,#F4F4F4);
}
#topMenuLeftPaddingDiv {
	width: 40px;
}
#unknownPaddingdiv {
	height: 25px;
	background: #F4F4F4;
}

.infoBox h1 {
	background: linear-gradient(#F9D356,#F8CA1A,#F9D356);
	font-size: 100%;
	color: black;
	padding: 5px;
	margin: 0px;
}

div.whiteOnGrey {
	font-size: 72%;
	background: linear-gradient(to right,#727270,#373737);
	padding: 15px;
	color: white;
}

div.blackOnWhite {
	font-size: 72%;
	background: white;
	padding: 15px;
	color: black;
}

#ppcDiv {
	display: inline-block;
	width: 100%;
	margin-left:25px;
	color: #7A7C54;
}

#ppcDiv img {
	display: inline-block;
	height: 15px;
	margin-right: 15px;
	border-radius: 5px;
}

.small {
	width: 20%;
}

.small img{
	display: inline-block;
	width:100%;
}

img.readMore{
	width:90px;
	padding-left:60px;
	
}
